<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--JQUERY-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <!-- My personal Kit's Code from Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css" th:href="@{/css/admin.css}"/>
    <title> AddBike </title>

</head>

<body>
	<div>
		<br/>
		<img class="img-responsive center-block" th:src="@{/img/icon.png}" style="width: 250px;"/>
	</div>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">ADMIN Portal</a>
		  <button 	class="navbar-toggler" type="button" data-toggle="collapse" 
		  			data-target="#navbarNav" aria-controls="navbarNav" 
		  			aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/bikeList}">View Bikes list</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/bikeshelf}">View Bikes Shelf</a>
			      </li>

		    </ul>
		  </div>
		  <div>
			   	<form th:action="@{/logout}" method="post">
		   		    <input type="submit" value="Logout" class="btn btn-warning"/>
		  	 	</form>
		  </div>
		</nav>
	</div>
  	<div class="container">
		<div class="row>">
			<form class="form-horizontal" th:action="@{/addBike}" method="post" enctype="multipart/form-data">
			  <fieldset>
				  <legend class="center-block">New Bike Information
				  <span style="font-size: small"> (* is a required field)</span></legend>
				  
				  
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="brand">* Brand</label>
					   	<div class="col-md-4">
					   	<input 	type="text" class="form-control" id="brand" th:value="${bike_catalog.brand}"
					    		required="required" placeholder="Brand" name="brand" />
					    		<span class="help-block">Brand of the bike</span>
					    </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="owner">* Owner</label>
					    <div class="col-md-4">
					    <input 	type="text" class="form-control" id="owner" th:value="${bike_catalog.owner}"
					    		required="required" placeholder="Owner" name="owner"/>
					    		<span class="help-block">Owner of the bike</span>
					  </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="nickname">Nickname</label>
					    <div class="col-md-4">
					   	<input 	type="text" class="form-control" id="nickname" th:value="${bike_catalog.nickname}"
					    		required="required" placeholder="Nickname" name="nickname"/>
					    		<span class="help-block">Nickname of the bike</span>
					  </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="publicationDate">Publication Date</label>
					   <div class="col-md-4">
					   <input 	type="date" class="form-control" id="publicationDate" th:value="${bike_catalog.publicationDate}"
					    		required="required" placeholder="Publication Date of the bike" name="publicationDate"/>
					    		<span class="help-block">Publication Date of the bike</span>
					  </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label"for="quality">Conditions</label>
					   <div class="col-md-4">
					   		<select th:value="${bike_catalog.quality}" id="quality" name="quality" class="form-control">
					   			<option value="Like new">Like new</option>
					   			<option value="Good condition">Good condition</option>
					   			<option value="Need reparation">Need reparation</option>
					   		</select>
					   </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-1 control-label"for="category">*Category</label>
						   <div class="col-md-4">
						   		<select th:value="${bike_catalog.category}" id="category" class="form-control" name="category">
						   			<option value="" selected="selected" disabled="disabled">Please select an option</option>
						   			<option value="Mountain Bike" th:selected="(${bike_catalog.category}=='Mountain Bike')">Mountain Bike</option>
						   			<option value="Road Bike" th:selected="(${bike_catalog.category}=='Road Bike')">Road Bike</option>
						   		</select>
						   </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="numberOfMiles">Miles</label>
						   <div class="col-md-4"> 
						   <input type="number" class="form-control" id="pageNumber" th:value="${bike_catalog.numberOfMiles}"
						    		required="required" placeholder="Number Of Miles" name="numberOfMiles"/>
						    <span class="help-block">Miles of the bike</span>
						  </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label"for="format">Location</label>
						   <div class="col-md-4">
						   		<select th:value="${bike_catalog.format}" id="format" class="form-control" name="format">
						   			<option value="Out of USA">Out of USA</option>
						   			<option value="USA">USA</option>
						   		</select>
						   </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="registerNumber">Register Number</label>
						   <div class="col-md-4">
						   	<input 	type="text" class="form-control" id="registerNumber" th:value="${bike_catalog.registerNumber}"
						    		placeholder="Register Number" name="registerNumber"/>
						    <span class="help-block">Register Number of the bike</span>
						  </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="shippingWeight">Shipping Weight</label>
						   	<div class="col-md-3">
						   		<div class="input-group">
								   	<input 	th:value="${bike_catalog.shippingWeight}" type="number"
								   			class="form-control" id="shippingWeight"
								    		placeholder="Shipping Weight" name="shippingWeight" />
							   	</div>
							   	<span class="help-block">Shipping Weight of the bike</span>
						   	</div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label"for="listPrice">list Price</label>
						   	<div class="col-md-3">
						   		<div class="input-group">
						   		<span class="input-group-addon">USD$</span>
								   	<input 	th:value="${bike_catalog.listPrice}" type="number"
								   			class="form-control" id="listPrice"
								    		placeholder="list Price" name="listPrice"/>
							   	</div>
							   	<span class="help-block">list Price of the bike</span>
						   	</div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label"for="ourPrice">Our Price</label>
						   	<div class="col-md-3">
						   		<div class="input-group">
						   		<span class="input-group-addon">USD$</span>
								   	<input 	th:value="${bike_catalog.ourPrice}" type="number"
								   			class="form-control" id="ourPrice"
								    		placeholder="Our Price" name="ourPrice"/>
							   	</div>
							   	<span class="help-block">Our Price of the bike</span>
						   	</div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label"for="inStockNumber">Number in stock</label>
						   	<div class="col-md-2">
						   		<div class="input-group">
						   		<span class="input-group-addon"></span>
								   	<input 	th:value="${bike_catalog.inStockNumber}" type="number"
								   			class="form-control" id="inStockNumber"
								    		placeholder="Number of in-stock bikes" name="inStockNumber"/>
							   	</div>
							   	<span class="help-block">In-stock</span>
						   	</div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-2 control-label" for="status">Status</label>
							<div class="col-md-8">
							   		<label><input value="true" type="radio" name="active" checked="checked" class="form-control" />Active</label>
							   		<label><input value="false" type="radio" name="active" class="form-control" />Inactive</label>
						   	<span class="help-block"></span>
						   	</div>
					  </div>

					  <div class="form-group">
					    	<label class="col-md-2 control-label" for="description">Description</label>
					    	<div class="col-md-8">
					   			<textarea name="description" rows="5" 
					   			class="form-control" id="description" th:value="${bike_catalog.description}"
					    				placeholder="Description" ></textarea>
					    		<span class="help-block">Description of the bike</span>
					  		</div>
					  </div>
					  
					  <div class="form-group">
						  	<div class="col-md-2">
						  		<label for="bikeImage">Upload Bicycle image</label>
						  	</div>
						  	<div class="col-md-8">
						  		<input id="bikeImage" type="file" name="bikeImage" th:value="${bike_catalog.bikeImage}" />	
						  	</div>
					  </div>

				  <div class="form-group">
					  	<div class="col-md-6">
						  <div class="col-md-8">
						  		<button type="submit" class="tn btn-lg btn-success">Add Bike</button>
						  		<a class="btn btn-danger" th:href="@{/admin}">Cancel</a>
						  </div>
				  		</div>
				  </div>
				  
			  </fieldset>
			</form>
		</div>
	</div>
 </body>
</html>