<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <!-- My personal Kit's Code from Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css" th:href="@{/css/admin.css}">
    <title> Admin </title>

</head>
<body>
	<div>
		<br/>
		<img class="img-responsive center-block" th:src="@{/img/icon.png}" style="width: 250px;"/>
	</div>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">ADMIN Portal</a>
		  <button 	class="navbar-toggler" type="button" data-toggle="collapse" 
		  			data-target="#navbarNav" aria-controls="navbarNav" 
		  			aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/addBike}">Add a new Bike <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/bikeList}">View Bikes list</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/bikeshelf}">View Bikes Shelf</a>
			      </li>

		    </ul>
		  </div>
		  <div>
			   	<form th:action="@{/logout}" method="post">
		   		    <input type="submit" value="Logout" class="btn btn-warning"/>
		  	 	</form>
		  </div>
		</nav>
	</div>
</body>
</html>