<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--JQUERY-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <!-- My personal Kit's Code from Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css" th:href="@{/css/admin.css}"/>
    <title> bikeList </title>

</head>

<body>
	<div>
		<br/>
		<img class="img-responsive center-block" th:src="@{/img/icon.png}" style="width: 250px;"/>
	</div>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">ADMIN Portal</a>
		  <button 	class="navbar-toggler" type="button" data-toggle="collapse" 
		  			data-target="#navbarNav" aria-controls="navbarNav" 
		  			aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/addBike}">Add a new Bike <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/bikeshelf}">View Bikes Shelf</a>
			      </li>

		    </ul>
		  </div>
		  <div>
			   	<form th:action="@{/logout}" method="post">
		   		    <input type="submit" value="Logout" class="btn btn-warning"/>
		  	 	</form>
		  </div>
		</nav>
	</div>
<div class="container">
	<div class="table-responsive">
		<table id="bikeListTable" class="table table-bordered table-hover table-striped">
		  <thead>
		    <tr>
		      <th>Brand</th>
		      <th>Owner</th>
		      <th>Nickname</th>
		      <th>Category</th>
		      <th>List Price</th>
		      <th>Our Price</th>
		      <th>Active</th>
		      <th>Function</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr data-th-each="bike_catalog : ${bikeList}">
		      <!-- <td><input hidden="hidden" name="id" th:value="${bike_catalog.id}"></td> -->
		      <td th:text="${bike_catalog.brand}"></td>
		      <td th:text="${bike_catalog.owner}"></td>
		      <td th:text="${bike_catalog.nickname}"></td>
		      <td th:text="${bike_catalog.category}"></td>
		      <td th:text="${bike_catalog.listPrice}"></td>
		      <td th:text="${bike_catalog.ourPrice}"></td>
		      <td th:text="${bike_catalog.active}"></td>
		      <td>
		      	<input hidden="hidden" name="id" th:value="${bike_catalog.id}"/>
		      	<button th:id="${bike_catalog.id}" class="btn btn-danger btn-sm delete-bike" type="submit" value="delete">
		      	<span class="fa fa-times"></span>Delete</button>
		      </td>
		    </tr>
		  </tbody>
		  <!--Table body-->
		</table>
	</div>
</div>	

</body>
</html>